module reposync_tomcat 1.0;

require {
	type tomcat_t;
	type spacewalk_log_t;
	class file read;
}

#============= tomcat_t ==============
allow tomcat_t spacewalk_log_t:file { open read };
